@import "tailwindcss";

@theme {
  --font-ubuntu: "Ubuntu", sans-serif;

  --color-dark-green: #024221;
  --color-medium-green: #024e46;
  --color-light-green: #01a368;
  --color-orange: #ff7900;
  --color-lighter-green: #c0deaf;
}

* {
  list-style: none;
}

body {
  @apply bg-white font-ubuntu;
}

p {
  @apply font-ubuntu text-lg;
}

h1 {
  @apply font-ubuntu text-dark-green text-3xl font-bold mb-0;
}

h2 {
  @apply text-2xl font-bold text-dark-green;
}

h3 {
  @apply text-lg font-bold text-dark-green;
}

table {
  @apply w-full border-collapse;
}

/* Zebra striping for rows */
table tr:nth-child(odd) {
  background-color: var(--color-lighter-green);
}
