@import "tailwindcss";

@theme {
  --font-ubuntu: "Ubuntu", sans-serif;

  --color-dark-green: #024221;
  --color-medium-green: #024e46;
  --color-light-green: #01a368;
  --color-answer-user: #ff7900;
  --color-lighter-green: #c0deaf;

}

* {
  list-style: none;
}

body {
  @apply bg-white font-ubuntu;
}

p {
  @apply font-ubuntu text-lg;
}

h1 {
  @apply font-ubuntu text-dark-green text-3xl font-bold;
}

h2 {
  @apply text-2xl font-bold text-dark-green;
}

h3 {
  @apply text-lg font-bold text-dark-green;
}

.card {
  position: relative;
}

.card::after, .card::before {
  --angle: 0deg;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-image: conic-gradient(from var(--angle), var(--color-answer-user), var(--color-dark-green), var(--color-light-green), var(--color-dark-green), var(--color-answer-user));
  border-radius: 100%;
  z-index: -1;
  animation: 2s spin linear infinite;
}

.card::before {
  filter: blur(2.5rem);
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

table {
  @apply w-full border-collapse;
}

/* Zebra striping for rows */
table tr:nth-child(even) {
  background-color: var(--color-lighter-green);
}
